@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hanken Grotesk';
  font-optical-sizing: auto;
  font-weight: 400 700;
  font-style: normal;
  src: url(./assets/HankenGrotesk-VariableFont_wght.ttf);
}

@layer components {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }
  h1 {
    @apply text-[36px] tracking-[-0.02em];
  }
  h2 {
    @apply text-[32px] tracking-[-0.02em];
  }
  h3 {
    @apply text-[28px] tracking-[-0.01em];
  }
  h4 {
    @apply text-[24px];
  }

  .custom-datepicker .react-datepicker__close-icon::before,
  .custom-datepicker .react-datepicker__close-icon::after {
    @apply bg-yellow-bee-200;
    @apply text-neutral-800;
    color: currentColor;
  }
}

